@import "https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap";
@import "tailwindcss";

@theme {
  --color-main-purple: hsl(242, 48%, 58%);
  --color-main-purple-hover: hsl(243, 100%, 82%);
  --color-secondary-purple: hsla(240, 48%, 58%, 0.1);
  --color-secondary-purple-hover: hsla(240, 48%, 58%, 0.25);

  --color-black: hsl(237, 100%, 4%);
  --color-very-dark-grey-bg: hsl(235, 16%, 15%);
  --color-dark-grey: hsl(235, 12%, 19%);

  --color-lines-dark: hsl(236, 11%, 27%);
  --color-medium-grey: hsl(216, 15%, 57%);
  --color-lines-light: hsl(221, 69%, 94%);

  --color-light-grey-light-bg: hsl(220, 69%, 97%);

  --color-red: hsl(0, 78%, 63%);
  --color-red-hover: hsl(0, 100%, 80%);
}

@layer utilities {
  .font-heading {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: normal;
  }

  .font-heading-small {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    line-height: normal;
  }

  .font-heading-medium {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: normal;
  }

  .font-heading-large {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: normal;
  }

  .font-body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-spacing: 23px;
  }

  .font-body-medium {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
  }

  .font-button-small {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-spacing: 23px;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
